<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body>
    <div class="container jumbotron">
      <div id="app">
        <h4>{{ misc }}</h4>
        <ul v-for="currency in info">
          <li>
            {{ currency.description }} : <b>{{ currency.rate }}</b>
          </li>
        </ul>
      </div>
      <script>
        new Vue({
          el: "#app",
          data() {
            return {
              info: null,
              misc: null
            };
          },
          mounted() {
            axios
              .get("https://api.coindesk.com/v1/bpi/currentprice.json")
              .then(
                response => (
                  (this.info = response.data.bpi),
                  (this.misc = response.data.disclaimer)
                )
              );
          }
        });
      </script>
    </div>
  </body>
</html>
